################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SendEmailWithAspNetCore/obj
/SendEmailWithAspNetCore/bin/Debug/net6.0
/SendEmailWithAspNetCore/.vs
